<% include pc_header.html %>
    <link rel="stylesheet" href="/static/css/pc/continuedCard.css">
    <div class="content yb-p-20">
        <div class="yb-of-h">
            <button type="button" class="am-btn am-btn-primary yb-fr" id="query">查询</button>
            <input type="text" class="am-form-field yb-fr yb-w-200 yb-mr-10" id="end" placeholder="收款结束时间" data-am-datepicker readonly
                required />
            <input type="text" class="am-form-field yb-fr yb-w-200 yb-mr-10" id="start" placeholder="收款开始时间" data-am-datepicker readonly
                required />
            <input type="hidden" value="<%= JSON.stringify(data)%>" id="data">
        </div>
        <div class="yb-mt-20 table-all">
            <table class="am-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>订奶种类</th>
                        <th>地址</th>
                        <th>订购日期</th>
                        <th>总数（瓶）</th>
                        <th>消耗（瓶）</th>
                        <th>剩余（瓶）</th>
                        <th>每天杯数</th>
                        <th>周几送</th>
                        <th>备注</th>
                        <th>增加瓶数</th>
                        <th>收款人</th>
                        <th>收款金额</th>
                        <th>收款时间</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(d){ %>
                        <tr>
                            <th>
                                <%= d.id%>
                            </th>
                            <th>
                                <%= d.name%>
                            </th>
                            <th>
                                <%= d.telphone%>
                            </th>
                            <th>
                                <%= d.typeName%>
                            </th>
                            <th>
                                <%= d.address%>
                            </th>
                            <th>
                                <%= d.reserveTime%>
                            </th>
                            <th>
                                <%= d.total%>
                            </th>
                            <th>
                                <%= d.consume%>
                            </th>
                            <th>
                                <%= d.total-d.consume%>
                            </th>
                            <th>
                                <%= d.everyNum%>
                            </th>
                            <th>
                                <%= d.weekSendOut%>
                            </th>
                            <th>
                                <%= d.remarks%>
                            </th>
                            <th>
                                <%= d.addMilkNum%>
                            </th>
                            <th>
                                <%= d.payee%>
                            </th>
                            <th>
                                <%= d.money%>
                            </th>
                            <th>
                                <%= d.receivablesTime%>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="yb-mt-20 yb-of-h">
            <button type="button" class="am-btn am-btn-primary yb-fl" id="generate"><i class="am-icon-spinner am-icon-pulse"
                    style="display: none;"></i>生成</button>
            <a href="" download="<%= time%>续卡.xlsx" id="hf"></a>
        </div>
    </div>
    <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
    <script>
        window.onload = function () {
            ybUtils.loadJS('/static/js/pc/continuedCard.js');
        }
    </script>
    <% include pc_footer.html %>