<% include pc_header.html %>
    <link rel="stylesheet" href="/static/css/pc/index.css">
    <div class="content yb-p-20">
        <!--办卡-->
        <div class="yb-mask" id="handleCardAlert">
            <div class="mask-div">
                <div class="mask-title">
                    <div class="yb-ta-c">办卡
                        <span class="close">X</span>
                    </div>
                </div>
                <div class="mask-content">
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            姓名：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 name" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            电话：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 telphone" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group ">
                        <div class="mask-group-left">
                            <span>*</span>
                            订奶种类：</div>
                        <div class="mask-group-right mask-group-right1">
                            <select class="milkType">
                                <option value="1">巴氏奶（大）</option>
                                <option value="2">巴氏奶（小）</option>
                                <option value="3">酸奶（大）</option>
                                <option value="4">酸奶（小）</option>
                            </select>
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            地址：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 address" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            地址数字：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 addressType" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            订卡日期：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 time" placeholder="" data-am-datepicker readonly
                                required />
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            总瓶：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 total" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            周几送：</div>
                        <div class="am-form-group mask-group-right" style="line-height: 37px;">
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="1"> 一
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="2"> 二
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="3"> 三
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="4"> 四
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="5"> 五
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="6"> 六
                            </label>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="bcWeekSendOut" value="7"> 日
                            </label>
                            <label class="am-checkbox-inline yb-ws-n">
                                <input type="checkbox" name="bcWeekSendOut" value="0"> 打电话
                            </label>
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">每天杯数：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 everyNum" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">备注：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 remark" placeholder="">
                        </div>
                    </div>
                    <div class="yb-ta-c">
                        <button type="button" class="am-btn am-btn-primary yb-mr-40 add">添加</button>
                        <button type="button" class="am-btn am-btn-danger yb-ml-40 yb-close">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--续卡-->
        <div class="yb-mask" id="continued-card">
            <div class="mask-div">
                <div class="mask-title">
                    <div class="yb-ta-c">续卡
                        <span class="close">X</span>
                    </div>
                </div>
                <div class="mask-content">
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            增加瓶数：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 milkNum" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            金额：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 money" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            收款人：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 payee" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            收款日期：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 time" placeholder="" data-am-datepicker readonly
                                required />
                        </div>
                    </div>
                    <div class="yb-ta-c">
                        <button type="button" class="am-btn am-btn-primary yb-mr-40 add">添加</button>
                        <button type="button" class="am-btn am-btn-danger yb-ml-40 yb-close">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--退订-->
        <div class="yb-mask" id="unsubscribe">
            <div class="mask-div">
                <div class="mask-title">
                    <div class="yb-ta-c">退订
                        <span class="close">X</span>
                    </div>
                </div>
                <div class="mask-content">
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            退订日期：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 time" placeholder=""  data-am-datepicker readonly
                                required />
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            退订原因：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 reason" placeholder="">
                        </div>
                    </div>
                    <div class="yb-ta-c">
                        <button type="button" class="am-btn am-btn-primary yb-mr-40 add">添加</button>
                        <button type="button" class="am-btn am-btn-danger yb-ml-40 yb-close">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--加奶-->
        <div class="yb-mask" id="addMilk">
            <div class="mask-div">
                <div class="mask-title">
                    <div class="yb-ta-c">加奶
                        <span class="close">X</span>
                    </div>
                </div>
                <div class="mask-content">
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            加奶日期：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 time" placeholder="" data-am-datepicker readonly
                                required />
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            加奶数量：</div>
                        <div class="mask-group-right">
                            <input type="number" class="am-form-field yb-fr input1 yb-mr-10 milkNum" placeholder="">
                        </div>
                    </div>
                    <div class="mask-group ">
                        <div class="mask-group-left">
                            <span>*</span>
                            订奶种类：</div>
                        <div class="mask-group-right mask-group-right1">
                            <select class="milkType">
                                <option value="1">巴氏奶（大）</option>
                                <option value="2">巴氏奶（小）</option>
                                <option value="3">酸奶（大）</option>
                                <option value="4">酸奶（小）</option>
                            </select>
                        </div>
                    </div>
                    <div class="mask-group">
                        <div class="mask-group-left">
                            临时备注：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 remart" placeholder="">
                        </div>
                    </div>
                    <div class="yb-ta-c">
                        <button type="button" class="am-btn am-btn-primary yb-mr-40 add">添加</button>
                        <button type="button" class="am-btn am-btn-danger yb-ml-40 yb-close">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--减奶-->
        <div class="yb-mask" id="reduceMilk">
            <div class="mask-div">
                <div class="mask-title">
                    <div class="yb-ta-c">减奶
                        <span class="close">X</span>
                    </div>
                </div>
                <div class="mask-content">
                    <div class="mask-group">
                        <div class="mask-group-left">
                            <span>*</span>
                            减奶日期：</div>
                        <div class="mask-group-right">
                            <input type="text" class="am-form-field yb-fr input1 yb-mr-10 time" placeholder="" data-am-datepicker readonly
                                required />
                        </div>
                    </div>
                    <div class="yb-ta-c">
                        <button type="button" class="am-btn am-btn-primary yb-mr-40 add">添加</button>
                        <button type="button" class="am-btn am-btn-danger yb-ml-40 yb-close">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="am-btn am-btn-primary" id="handleCard">办卡</button>
            <button type="button" class="am-btn am-btn-primary yb-fr" id="query">查询</button>
            <input type="text" class="am-form-field yb-fr input1 yb-mr-10" placeholder="用户名" id="userName">
            <input type="text" class="am-form-field yb-fr input1 yb-mr-10" placeholder="办卡结束时间" id="end" data-am-datepicker readonly
                required />
            <input type="text" class="am-form-field yb-fr input1 yb-mr-10" placeholder="办卡开始时间" id="start" data-am-datepicker readonly
                required />
        </div>
        <div class="yb-mt-20 table-all">
            <table class="am-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>订奶种类</th>
                        <th>地址</th>
                        <th>地址数字</th>
                        <th>订购日期</th>
                        <th>总数（瓶）</th>
                        <th>消耗（瓶）</th>
                        <th>剩余（瓶）</th>
                        <th>每天杯数</th>
                        <th>周几送</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(d){ %>
                        <tr>
                            <th>
                                <%= d.id%>
                            </th>
                            <th>
                                <%= d.name%>
                            </th>
                            <th>
                                <%= d.telphone%>
                            </th>
                            <th>
                                <%= d.typeName%>
                            </th>
                            <th>
                                <%= d.address%>
                            </th>
                            <th>
                                <%= d.addressType%>
                            </th>
                            <th>
                                <%= d.reserveTime%>
                            </th>
                            <th>
                                <%= d.total%>
                            </th>
                            <th>
                                <%= d.consume%>
                            </th>
                            <th>
                                <%= d.total-d.consume%>
                            </th>
                            <th>
                                <%= d.everyNum%>
                            </th>
                            <th>
                                <%= d.weekSendOut%>
                            </th>
                            <th>
                                <%= d.remarks%>
                            </th>
                            <th>
                                <div data-id="<%= d.id%>">
                                    <button type="button" class="am-btn am-btn-primary xuka">续卡</button>
                                    <button type="button" class="am-btn am-btn-danger tuiding">退订</button>
                                    <button type="button" class="am-btn am-btn-primary jianai">加奶</button>
                                    <button type="button" class="am-btn am-btn-danger jiannai">减奶</button>
                                    <a href="/xiangtian/details?id=<%= d.id%>">
                                        <button type="button" class="am-btn am-btn-default chakan-xiangqing">查看详情</button>
                                    </a>
                                </div>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="yb-mt-20 yb-of-h">
            <button type="button" class="am-btn am-btn-primary yb-fl" id="shengcheng">总表</button>
            <!-- <ul class="am-pagination yb-fr yb-mt-0">
                <li class="am-disabled"><a href="#">&laquo;</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul> -->
        </div>
    </div>
    <script>
        window.onload = function(){
            ybUtils.loadJS('/static/js/pc/index.js');
        }
    </script>
    <% include pc_footer.html %>