<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>享甜乳业</title>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/pc/login.css">
    <script src="http://s.amazeui.org/assets/2.x/js/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>

<body>

    <div class="content">
        <div>
            <input type="text" class="am-form-field" placeholder="用户名">
        </div>
        <div class="yb-mt-30">
            <input type="password" class="am-form-field" placeholder="密码">
        </div>
        <div class="yb-mt-30">
            <button type="button" class="am-btn am-btn-primary yb-w-1" id="login">登录</button>
        </div>
        <div class="am-alert am-alert-danger yb-tips yb-m-0" data-am-alert>
            <button type="button" class="am-close">&times;</button>
            <p class="yb-ta-c">账号或密码不正确</p>
        </div>
    </div>
    <script src="/static/js/pc/login.js"></script>
</body>

</html>