<% include pc_header.html %>
    <div>
        <button type="button" class="am-btn am-btn-default">默认样式</button>
        <button type="button" class="am-btn am-btn-primary">主色按钮</button>
        <button type="button" class="am-btn am-btn-secondary">次色按钮</button>
        <button type="button" class="am-btn am-btn-success">绿色按钮</button>
        <button type="button" class="am-btn am-btn-warning">橙色按钮</button>
        <button type="button" class="am-btn am-btn-danger">红色按钮</button>
        <div class="am-g">
            <div class="am-u-sm-4">4</div>
            <div class="am-u-sm-8">8</div>
        </div>
        <div class="am-progress">
            <div class="am-progress-bar" style="width: 40%">40%</div>
        </div>
        <form action="" class="am-form" data-am-validator>
            <p>
                <input type="text" class="am-form-field" placeholder="日历组件" data-am-datepicker readonly required />
            </p>
            <p><button class="am-btn am-btn-primary">提交</button></p>
        </form>
        <select data-am-selected>
            <option value="a">Apple</option>
            <option value="b" selected>Banana</option>
            <option value="o">Orange</option>
            <option value="m">Mango</option>
            <option value="d" disabled>禁用鸟</option>
        </select>
    </div>
    <% include pc_footer.html %>