<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <title>享甜乳业</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
    <div class="header">
        <ul class="yb-fl">
            <li data-url="/xiangtian">主页</li>
            <li data-url="/xiangtian/sendOut">派单</li>
            <li data-url="/xiangtian/continuedCard">续卡</li>
            <li data-url="/xiangtian/unsubscribe">退订</li>
            <li data-url="/xiangtian/addressNumber">地址数字</li>
        </ul>
        <button type="button" class="am-btn am-btn-danger yb-fr">退出</button>
        <input type="hidden" value="<%= cookie%>" id="cookie">
        <span class="yb-fr"><%= name%></span>
    </div>