<% include pc_header.html %>
    <link rel="stylesheet" href="/static/css/pc/sendOut.css">
    <div class="content yb-p-20">
        <div class="yb-of-h">
            <button type="button" class="am-btn am-btn-primary yb-fr" id="query">查询</button>
            <input type="text" class="am-form-field yb-w-200 yb-fr yb-mr-10" id="time" placeholder="派送时间" data-am-datepicker readonly
                required />
        </div>
        <h2 class="h21">加奶确认</h2>
        <div class="yb-mt-20 table-all">
            <table class="am-table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>增加牛奶类型</th>
                        <th>增加杯数</th>
                        <th>地址</th>
                        <th>加奶日期</th>
                        <th>临时备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% mathData.forEach(function(d){%>
                        <% if(d.operationType == 1){%>
                            <tr>
                                <th>
                                    <%= d.name%>
                                </th>
                                <th>
                                    <%= d.typeName%>
                                </th>
                                <th>
                                    <%= d.milkNum%>
                                </th>
                                <th>
                                    <%= d.address%>
                                </th>
                                <th>
                                    <%= d.addMilkTime%>
                                </th>
                                <th>
                                    <%= d.temporaryRemark%>
                                </th>
                                <th>
                                    <button type="button" class="am-btn am-btn-danger tuiding del" data-id="<%= d.id%>">删除</button>
                                </th>
                            </tr>
                            <%}%>
                                <%})%>
                </tbody>
            </table>
        </div>
        <h2 class="h22">减奶确认</h2>
        <div class="yb-mt-20 table-all">
            <table class="am-table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>减奶日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% mathData.forEach(function(d){%>
                        <% if(d.operationType != 1){%>
                            <tr>
                                <th>
                                    <%= d.name%>
                                </th>
                                <th>
                                    <%= d.addMilkTime%>
                                </th>
                                <th>
                                    <button type="button" class="am-btn am-btn-danger tuiding del" data-id="<%= d.id%>">删除</button>
                                </th>
                            </tr>
                            <%}%>
                                <%})%>
                </tbody>
            </table>
        </div>
        <h2 class="h21">今日送单表确认</h2>
        <div class="yb-mt-20 table-all">
            <table class="am-table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>送奶杯数</th>
                        <th>送奶种类</th>
                        <th>临时备注</th>
                        <th>电话</th>
                        <th>订奶种类</th>
                        <th>地址</th>
                        <th>订购日期</th>
                        <th>总数（瓶）</th>
                        <th>消耗（瓶）</th>
                        <th>剩余（瓶）</th>
                        <th>每天杯数</th>
                        <th>周几送</th>
                        <th>备注</th>

                    </tr>
                </thead>
                <tbody>
                    <% defaultMilkData.forEach(function(d){%>
                        <tr>
                            <th>
                                <%= d.name%>
                            </th>
                            <th>
                                <%= d.milkNum%>
                            </th>
                            <th>
                                <%= d.milkType%>
                            </th>
                            <th>
                                <%= d.temporaryRemark%>
                            </th>
                            <th>
                                <%= d.telphone%>
                            </th>
                            <th>
                                <%= d.typeName%>
                            </th>
                            <th>
                                <%= d.address%>
                            </th>
                            <th>
                                <%= d.reserveTime%>
                            </th>
                            <th>
                                <%= d.total%>
                            </th>
                            <th>
                                <%= d.consume%>
                            </th>
                            <th>
                                <%= d.total-d.consume%>
                            </th>
                            <th>
                                <%= d.everyNum%>
                            </th>
                            <th>
                                <%= d.weekSendOut%>
                            </th>
                            <th>
                                <%= d.remarks%>
                            </th>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
        <div class="yb-mt-10">汇总： 巴氏奶（大）-
            <%= allMilk[0]%>瓶 ， 巴氏奶（小）-
                <%= allMilk[1]%>瓶 ， 酸奶（大）-
                    <%= allMilk[2]%>瓶 ， 酸奶（小）-
                        <%= allMilk[3]%>瓶 。
        </div>
        <div class="yb-mt-20 yb-of-h">
            <button type="button" class="am-btn am-btn-primary yb-fl">生成</button>
        </div>
    </div>
    <script src="/static/js/pc/sendOut.js"></script>
    <% include pc_footer.html %>